body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    border: 0.5px solid black;
}

.container .shows-container {
    height: 30%;
    text-align: right;
}

.container .shows-container {
    padding: 10px;
}

.container .dark-button {
    margin: 0 auto;
    width: 130px;
    background-color: #f9f9f9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    overflow: hidden;
}

.container .dark-button>button {
    display: block;
    padding: 10px;
    font-size: 25px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    color: #b8b8b8;
    border: none;
    background-color: transparent;
}

.container .dark-button .sun {
    color: #3e4249;
    pointer-events: none;
}

.container .dark-button .moon {
    color: #fff;
    pointer-events: none;
}

.container .shows-container .show-equation {
    font-size: 15px;
    color: rgb(133, 127, 127);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 10px;
}

.container .shows-container .show-result {
    font-size: 40px;
}

.container .btns-container {
    cursor: pointer;
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px 20px 0px 0px;
}

.container .btns-container .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    background-color: #f7f7f7;
    position: relative;
    overflow: hidden;
}

.container .btns-container .btn::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    background-color: rgba(199, 195, 195, 0.2);
    transition: 0.3s ease-in-out;
    z-index: 0;
}

.container .btns-container .btn:hover::before {
    height: 100%;
    width: 100%;
}

.clear-all,
.clear {
    color: #86fadf;
}

.container .btns-container .operation {
    color: #e96666;
}

@media (min-width: 768px) {
    .container {
        max-width: 350px;
        max-height: 600px;
        margin-top: 10px;
    }
    .container .btns-container .btn {
        cursor: pointer;
    }
}


/* for dark */

.container.dark {
    background-color: #22252d !important;
}

.dark-button.dark,
.btns-container.dark {
    background-color: #292d36 !important;
}

.show-equation.dark,
.show-result.dark {
    color: #fff !important;
}

.btns-container.dark .btn.dark {
    background-color: #272b33 !important;
}

.btns-container.dark .number {
    color: #fff;
}